<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Books Wot We Have Read - $title$</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
        <link rel="alternate"
              type="application/rss+xml"
              title="SimpleBlog"
              href="/rss.xml" />

		<script language="javascript">
			AC_FL_RunContent = 0;
		</script> 
		<script language="javascript"> 
			DetectFlashVer = 0;
		</script> 
		<script src="../charts/AC_RunActiveContent.js" language="javascript">
		</script> 
	
		<script language="JavaScript" type="text/javascript"> 
			<!-- 
				var requiredMajorVersion = 10;
				var requiredMinorVersion = 0;
				var requiredRevision = 45;
			--> 
		</script> 

		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript"
			src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
		</script>	
	</head>


	<body>
		<div id="page">
			<div id="header">
				<div id="headertitle">
					<h1><a href="http://bookswotwehaveread.broxholme.com" title="Books Wot We Have Read: 6 blokes read a book">Books Wot We Have Read - $title$</a></h1>
					<p>5 blokes read some books</p>
				</div> 
			</div>

		<div id="navbar">
			<ul id="nav">
				<li>
					<a href="/pages/score_table.html">Score Table</a>
				</li>
				<li>
					<a href="/pages/score_chart.html">Score Chart</a>
				</li>
				<li>
					<a href="/pages/meanness_chart.html">Meanness Chart</a>
				</li>
				<li>
					<a href="/pages/hit_parade.html">Hit Parade</a>
				</li>
			</ul>
		</div>
		
		<div id="wrapper">
			<div id="content">
				<div class="post">
					<div class="postentry">
						$body$
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
	